.container {
  margin: 0;
  background-image: url("images/white-background.jpg");
}

.quote {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  background-color: #c22f2f;
  margin: 0;
  width: 100%;
  padding-left: 30px;
  font-family: "Sail", cursive;
  font-size: 36px;
}

.header-text {
  margin-bottom: 30px;
}

.logo-wrapper {
  background-color: black;
  width: 200px;
  height: 160px;
}

.navigation-logo {
  display: flex;
}

.button {
  color: black;
  border-radius: 10px;
  border: 0;
  font-size: 20px;
  height: 50px;
  width: 230px;
}

.page-buttons {
  display: flex;
  justify-content: space-evenly;
  align-content: flex-start;
  margin: 25px 0;
}

.button-text-about {
  display: flex;
  align-items: center;
  color: black;
}

.button-text-contact{
  display: flex;
  align-items: center;
  color: black;
}

.button.green {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.button.blue {
  background-color: white;
  color: black;
  border: 2px solid blue;
}


.content {
  margin: 50px 0;
}

.content-home {
  display: flex;
  margin: 25px 0;
  border: 0;
  align-content: center;
}

.content-home-text {
  font-family: "Sanchez", serif;
  font-size: 36px;
  padding-left: 50px;
  color: black;
}

.text {
  margin-top: 0;
}

.description {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 0;
  background-color: black;
  padding: 20px;
}

.footer-text {
  display: flex;
  align-items: flex-end;
  color: white;
}